.todo-item {
	width: 100%;
	height: 2.5rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-left: 0.5rem;
	color: #34495e;
	font-size: 1rem;
	line-height: 2.5rem;
	overflow-x: hidden;
	transition: all 0.3s ease;
}

.todo-item:hover {
	background: rgba(0, 0, 0, 0.03);
	cursor: pointer
}
;
.todo-item:hover div {
	opacity: 1
}

.todo-item.icons {
	width: 40px;
	display: inline-flex;
	align-items: center;
	justify-content: space-between;
	margin-right: 1rem;
	float: right;
	transition: all 0.3s;
	opacity: 0;
}