@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
}

body, html, #root {
  min-height: 100%;
}

body {
  font-family: 'Montserrat', sans-serif;
  background: #ecf0f1;
}

.App {
  width: 50%;
  margin: 0 auto;
}

.header {
  text-align: center;
}

.header h1 {
  color: #2c3e50;
  margin: 5vh 0 0 0;
  font-size: 5rem;
  font-weight: 300;
}

.header h1 span {
  font-weight: 700;
}

.header h2 {
  color: #9aa1a5;
  font-size: 1rem;
  font-weight: 300;
}